@import "arrows/*.png";

body {
  padding-top: 0px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

a {
  color: #63AD2A;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #CC6685;
}

/* NEW TOP-BAR */
.top-bar {
  background: #222222;
  height: 45px;
  line-height: 45px;
  margin: 0 0 0px;
  padding: 0;
  width: 100%;
  /* Contain width to .row width */
  /* First <ul> for branding, title, name, etc */
  /* topbar global <ul> styles */
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 1;
  color: #636664;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.top-bar a {
  color: #c9564a;
  text-decoration: none;
  line-height: inherit;
}
.top-bar a img {
  vertical-align: baseline;
}
.top-bar a:hover {
  color: #c04639;
}

.top-bar a:focus {
  color: #c9564a;
  outline: none;
}
.top-bar ul {
  margin-left: 0;
  display: inline;
  height: 45px;
  line-height: 45px;
  list-style: none;
  /* Main Navigation links style */
  /* Left Side <ul> */
  /* Right Side <ul> */
}
.top-bar ul > li {
  float: left;
  /* Dividers between navigation */
  /* Put a button in an <li> but give is a class */
  /* Put a search bar or text input in the bar */
  /* Hide the triangle for breakpoint menu */
  /* li.has-dropdown */
}
.top-bar ul > li a:not(.button) {
  color: white;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active {
  background: black;
}
.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a {
  color: #d9d9d9;
}
/* Firefox Fixes */
@-moz-document url-prefix() {
  .top-bar ul li .button.small {
    padding-bottom: 6px;
  }

  .top-bar ul li.search form input[type=search] {
    font-size: 14px;
    height: 22px;
    padding: 3px;
  }
}

/* IE8 Fixes */
.lt-ie9 .top-bar ul li a {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 13px;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
.lt-ie9 .top-bar ul li a.button {
  height: auto;
  line-height: 30px;
  margin-top: 7px;
}
.lt-ie9 .top-bar ul li a:hover {
  color: #cccccc;
}
.lt-ie9 .top-bar ul li a img {
  margin-top: -5px;
  vertical-align: middle;
}
.lt-ie9 .top-bar ul li a.active {
  background: #151515;
  color: #d9d9d9;
}

.lt-ie9 .top-bar ul li.has-dropdown {
  padding-right: 33.75px;
}
.lt-ie9 .top-bar ul li.has-dropdown > ul li {
  padding-right: 0;
}
.top-bar ul.right {
  float: right;
  width: auto;
  margin-bottom: 0;
  /* Dropdown Right Side Alignment */
}
.top-bar li a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.top-bar li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.top-bar li a.logo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.meta-nav li a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.meta-nav li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.meta-nav li:first-child {
  position: relative;
}
.meta-nav li:first-child :after {
  content: "|";
  position: absolute;
  top: 0;
  right: -2px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* /NEW TOP-BAR */
.btn-primary {
  background-color: #cc6685;
  *background-color: #cc6685;
  background-image: -ms-linear-gradient(top, #c93a62, #cc6685);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c93a62), to(#cc6685));
  background-image: -webkit-linear-gradient(top, #c93a62, #cc6685);
  background-image: -o-linear-gradient(top, #c93a62, #cc6685);
  background-image: -moz-linear-gradient(top, #c93a62, #cc6685);
  background-image: linear-gradient(top, #c93a62, #cc6685);
  background-repeat: repeat-x;
  border-color: #cc6685 #cc6685 #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c93a62', endColorstr='#cc6685', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #cc6685;
  *background-color: #cc6685;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #cc6685 \9;
}

.diagram table,td {
}

.diagram {

  width: 90%;
border-collapse: separate;
margin: 20px;
border:black thick solid;
border-spacing: 10px;
table-layout: fixed;

}
.diagram th,td {
  padding:10px;
  border:black thin solid;
  text-align: center;
  vertical-align: middle;
}

.steps {
  border: 1px solid #032428;
  border-radius: 7px;
  height: 14px;
  background-color: #032428;
  list-style: none;
  margin: 0;
  // padding: 0;
  position: relative;
  margin-top: 100px;
  margin-bottom: 60px;

  li {
    width: percentage(1/13);
    float: left;
    position: relative;

    span {
      color: #fff;
      background: {
        image: image-url("arrows/list_step_shape.png");
      }
      display: block;
      width: 31px;
      padding-right: 2px;
      height: 33px;
      line-height: 30px;
      text-align: center;
      font-weight: bold;
      margin: {
        top: -9px;
        left: auto;
        bottom: 0;
        right: auto;
      }
    }

    a {
      position: absolute;
      background: #d4d4d4;
      border: 1px Solid #4e6c70;
      color: #032428;
      text: {
        align: center;
        decoration: none;
      }
      margin: 0 auto;
      font-size: 16px;
      padding: {
        top: 4px;
        right: 8px;
        bottom: 5px;
        left: 8px;
      }
      &:hover {
        background-color: #bf4f67;
        border-color: #8b2f43;
        color: #fff;
      }
    }

    a {
      top: auto;
      bottom: 45px;
      &:hover {
        &:before {
          @include arrows-sprite(list_step_box_arrow_down_hover);
        }
      }
      &:before {
        content:"";
        position: absolute;
        left: 50%;
        display: block;
        @include arrows-sprite(list_step_box_arrow_down);
        height: arrows-sprite-height(list_step_box_arrow);
        width: arrows-sprite-width(list_step_box_arrow);
        margin-left: -0.5*arrows-sprite-width(list_step_box_arrow);
        top: auto;
        bottom: -6px;
      }
    }

    &.even,
    &:nth-child(even) {
      a {
        top: 32px;
        bottom: auto;
        &:hover:before {
          @include arrows-sprite(list_step_box_arrow_hover);
        }
        &:before {
          @include arrows-sprite(list_step_box_arrow);
          top: -6px;
        }
      }
    }
  }
}
.steps--fourteen {
  li {
    width: percentage(1/14);
  }
}
