<!doctype html>
<html>
  <head>
    
    <title>Wercker Devcenter - Main</title>
    
    <link rel="stylesheet" href="/public/highlight.css"></link>
    <link rel="stylesheet" href="/public/bootstrap.min.css"</link>
    <link rel="stylesheet" href="/public/style.css"</link>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Wercker Devcenter</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span2">
          <div class="well sidebar-nav">            
            <ul class="nav nav-list">  
  <li class="nav-header">Getting Started</li>
  <li><a href="/articles/introduction-wercker">Introduction to Wercker</a></li>  
  <li class=""><a href="/articles/werckerjson">wercker.json</a></li>
  <li class="nav-header">Language Support</li>
  <li class=""><a href="/articles/python">Python</a></li>
  <li class=""><a href="/articles/ruby">Ruby</a></li>  
  <li class=""><a href="/articles/nodejs">Node.js</a></li>    
  <li class="nav-header">Services</li>  
  <li class=""><a href="/articles/available-services">Available Services</a></li>
  <li class="nav-header">Deployment</li>
</ul>           
</div><!--/.well -->
</div><!--/span-->
<div class="span10">

          
        {{content}}

        </div>
      </div>

      <hr>

      <div id="footer">
        
        &copy; Copyright 2012 by <a href="http://wercker.com/">Wercker</a>.
        
      </div>

    </div>
     
  </body>
</html>
